.content {
  padding: 5% 3%;
  display: grid;
  grid-template-columns: .5fr 1fr;
  grid-template-rows: 10% 90%;
  align-items: center;
  width: 100%;
}
h1 {
  margin: 0;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
  } 
}